body {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.all-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.no-data-h1 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 24px;
  align-items: center;
  margin-top: 40px;
  padding: 0 40px;
}

.no-data-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gray-gray_200, #747474);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loading-message {
  color: var(--gray-gray_200, #747474);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 90px;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-sort-wrapper {
  display: flex !important;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  white-space: nowrap;
}

.dropdown-wrapper {
  display: flex;
  width: 264px;
  height: 48px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--gray-gray_200, #747474);
  background: var(--black-black_400, #131313);
  padding: 12px 16px;
  box-sizing: border-box;
  position: relative;
}

.dropdown-board {
  display: flex;
  width: 100%;
  gap: 10px;
  height: 24px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.sort-text {
  color: var(--gray-gray_100, #d8d8d8);
  font-size: 13.9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
  width: auto;
  min-width: 0;
  flex: none;
}

.dropdown-toggle {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.sort-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--gray-gray_200, #747474);
  background: var(--black-black_400, #131313);
}

.sort-options-wrapper {
  display: flex;
  width: 100%;
  position: absolute;
  top: 56px;
  left: 0;
  z-index: 1;
}

.vms-desc,
.vms-asc,
.amount-desc,
.amount-asc {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--gray-gray_200, #747474);
  color: var(--gray-gray_100, #d8d8d8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.vms-asc:hover,
.amount-desc:hover {
  background-color: var(--black-black_100);
}

.vms-desc:hover {
  background-color: var(--black-black_100);
  border-radius: 10px 10px 0 0;
}

.amount-asc:hover {
  background-color: var(--black-black_100);
  border-radius: 0 0 10px 10px;
}

.amount-asc {
  border-bottom: none;
}

.table-wrapper {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  overflow-x: auto;
}

.invest-table {
  width: 100%;
  min-width: 720px;
  table-layout: fixed;
  margin-top: 16px;
  border-collapse: separate;
  border-spacing: 0;
  transition: opacity 0.15s;
}

.invest-tbody.loading {
  pointer-events: none;
  user-select: none;
  opacity: 0.4;
}

.invest-table td {
  white-space: nowrap;
  height: 60px;
}

.invest-thead {
  width: 100%;
  height: 39px;
  background: var(--black-black_100, #2e2e2e);
  padding: 10px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.invest-thead th {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.invest-gap {
  height: 16px;
}

.invest-tbody {
  width: 100%;
  height: auto;
  flex: 1 0 0;
  text-align: center;
  color: #d8d8d8;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.invest-tbody-tr td {
  border-bottom: 1px solid var(--gray-gray_300, #4b4b4b);
  cursor: pointer;
  background: var(--black-black_200, #212121);
  height: 55px;
}

.invest-tbody tr:last-child td {
  border-bottom: none;
}

.invest-tbody-tr:hover {
  filter: brightness(1.2);
}

.rank-th {
  border-radius: 4px 0 0 4px;
}

.accinvest-th {
  border-radius: 0 4px 4px 0;
}

.invest-tbody tr:nth-child(2) td:first-child {
  border-radius: 4px 0 0 0;
}

.invest-tbody tr:nth-child(2) td:last-child {
  border-radius: 0 4px 0 0;
}

.invest-tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.invest-tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.invest-table td:not(:nth-child(1)) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rank-th,
.rank {
  width: 7%;
}

.corp-name-th,
.corp-name {
  width: 19%;
  min-width: 140px;
}

.corp-descrip-th,
.corp-descrip {
  width: 27%;
}

.category-th,
.category {
  width: 13%;
}

.vms-th,
.vms-acc {
  width: 17%;
}

.accinvest-th,
.accinvest {
  width: 17%;
}

.corp-name-inner span {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.corp-name-inner {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 0;
}

.corp-name {
  padding: 11px 16px;
}

.corp-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.corp-descrip {
  padding: 15px 16px;
  align-items: center;
  text-align: start;
  gap: 10px;
}

/* 테블릿 */
@media (max-width: 800px) {
  .rank-th,
  .rank {
    width: 12;
  }

  .corp-name-th,
  .corp-name {
    width: 24%;
  }

  .corp-descrip-th,
  .corp-descrip {
    width: 24%;
  }

  .vms-th,
  .vms-acc {
    width: 20%;
  }
  .accinvest-th,
  .accinvest {
    width: 20%;
  }

  .category-th,
  .category {
    display: none;
  }
}

@media (max-width: 744px) {
  .no-data-h1 {
    padding: 0 24px;
    max-width: 744px;
  }

  .title-sort-wrapper {
    padding: 0 40px;
    max-width: 744px;
  }

  .table-wrapper {
    padding: 0 24px;
  }

  .rank-th,
  .rank {
    width: 10%;
  }

  .corp-name-th,
  .corp-name {
    width: 24%;
  }

  .corp-descrip-th,
  .corp-descrip {
    width: 26%;
  }

  .vms-th,
  .vms-acc {
    width: 20%;
  }
  .accinvest-th,
  .accinvest {
    width: 20%;
  }
}

@media (max-width: 700px) {
  .rank-th,
  .rank {
    width: 10%;
  }

  .corp-name-th,
  .corp-name {
    width: 24%;
  }

  .corp-descrip-th,
  .corp-descrip {
    display: none;
  }

  .vms-th,
  .vms-acc {
    width: 25%;
  }
  .accinvest-th,
  .accinvest {
    width: 25%;
  }
}

@media (max-width: 600px) {
  .rank-th,
  .rank {
    width: 7%;
  }

  .corp-name-th,
  .corp-name {
    width: 24%;
  }

  .corp-descrip-th,
  .corp-descrip {
    display: table-cell;
    width: 27%;
  }

  .category-th,
  .category {
    display: table-cell;
    width: 13%;
  }

  .vms-th,
  .vms-acc {
    width: 17%;
  }

  .accinvest-th,
  .accinvest {
    width: 17%;
  }
}

/* 모바일 */

@media (max-width: 375px) {
  .table {
    table-layout: fixed;
    width: 100%;
  }

  .no-data-h1 {
    display: flex;
    width: 343px;
    padding: 11px 284px 10px 0;
    align-items: center;
  }

  .title {
    width: 59px;
    height: 19px;
    font-size: 16px;
  }

  .title-sort-wrapper {
    padding: 0 16px;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-wrapper {
    padding: 8px 12px;
    height: 48px;
    align-items: center;
    justify-content: center;
  }

  .dropdown-board {
    width: 100%;
  }

  .sort-text {
    height: 16px;
  }

  .vms-desc,
  .vms-asc,
  .amount-desc,
  .amount-asc {
    height: 40px;
  }

  .table-wrapper {
    padding-left: 16px;
  }

  .rank-th,
  .rank {
    width: 7%;
  }

  .corp-name-th,
  .corp-name {
    width: 24%;
  }

  .corp-descrip-th,
  .corp-descrip {
    display: table-cell;
    width: 18%;
  }

  .category-th,
  .category {
    display: table-cell;
    width: 12%;
  }

  .vms-th,
  .vms-acc {
    width: 17%;
  }

  .accinvest-th,
  .accinvest {
    width: 17%;
  }
}
