@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  /* =========================================
      1. 컬러 
     ========================================= */
  --white: #ffffff;

  --black-black_400: #131313;
  --black-black_300: #212121;
  --black-black_200: #282828;
  --black-black_100: #2e2e2e;

  --gray-gray_400: #333333;
  --gray-gray_300: #4b4b4b;
  --gray-gray_200: #747474;
  --gray-gray_100: #d8d8d8;

  --brand-brand_orange: #eb5230;
  --blue-blue: #558fff;
  --red-red_error: #c41013;

  /* =========================================
      2. 폰트 및 타이포그래피 설정
     ========================================= */
  --font-pretendard: "Pretendard", sans-serif;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-14: 14px;
  --text-12: 12px;

  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* 시스템 다크/라이트 모드 무시하고 항상 다크 테마 유지 */
  color-scheme: dark;
}

/* =========================================
    3. 필수 CSS 초기화 
   ========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-pretendard);
  background-color: var(
    --black-black_400
  ); /* 전체 배경색을 디자인에 맞게 어둡게 설정 */

  /* 기존 템플릿의 폰트 최적화 유지 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =========================================
    4. 전체 레이아웃 
   ========================================= */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: var(--weight-semibold);
  margin: 0;
}
